
  <h2>クレジット</h2>

  <!--ライセンス明記-->
  <h3>Material-icons:</h3>
  https://material.io/icons/#ic_navigate_next
  <p>
    All icons are based on '<a href="https://github.com/google/material-design-icons/releases/tag/1.0.1">Material Design Icons</a>'
    by Google. Licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY</a>.
    このサイトのすべてのコンテンツとコードは、特に明記しない限り、Apache 2ライセンスの下でライセンスされています。その全文は<a href="http://www.apache.org/licenses/LICENSE-2.0.txt">https://www.apache.org/licenses/LICENSE-2.0.html</a>にあります。
  </p>
