<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h2>500 エラー！</h2>
    <p><%-error.stack.replace(/\r?\n/g, '<br>')%></p>
    <a href="/">goto root page</a>
  </body>
</html>
