<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h2>トップページ</h2>
    <a href="/stock/list">
      <div style="background-color: #AAF;width: 30%;height: 30%;color: white;">
        投資指標データ解析
      </div>
    </a>
    <a href="/about">-about</a>
  </body>
</html>
