<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%
    console.log(stocks[0]);
    %>
  </body>
</html>
