<!DOCTYPE html>
<html>
  <head>
    <title>投資指標データ-<%-title-%></title>
    <meta charset="utf-8">
    <%- include ../template/bootstrap.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">500error!</h1>
        <p class="lead"><%-error_message-%></p>
        <hr class="my-4">
        <p><%-support_message-%></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/stock/list" role="button">戻る</a>
        </p>
      </div>
    </div>
  </body>
</html>
