
<div class="row" style="padding-bottom: 10px;">
  <div class="col">
    <nav class="navbar navbar-light bg-faded" style="background-color:#0F52BC;color:white;">
      <a class="navbar-brand" href="/stock/list" style="color:inherit;"><%-title-%> <i class="material-icons">show_chart</i></a>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <form action="/stock/show_datas" method="get">
      <div class="input-group">
        <!--TODO: 一旦証券コードのみ(Search...)-->
        <input type="text" name="stock_code" class="form-control" placeholder="証券コード">
        <span class="input-group-btn">
          <!--<button onclick="serch_click()" class="btn btn-secondary" type="button">検索</button>-->
          <input class="btn btn-secondary" type="submit" value="検索"/>
        </span>
      </div>
    </form>
  </div>
</div>
